@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');

// https://coolors.co/f4f1de-e07a5f-3d405b-66779d-81b29a-f2cc8f

$att-color: #E07A5F;
$mid-color: #66779D;
$def-color: #81B29A;
$gk-color: #F2CC8F;

body {
    margin: 0;
    font-family: 'Lexend', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #E5D4C3;
    color: #5B5754;
    background-color: #F5F5F5;
    /* background-color: #00aed0;  */
  }

.mode-selector {
    display: flex;
    justify-content: center;
    padding: 2rem 0px;
}

.main {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;

    .playersList {

    }

    .leftBar{
        width: 14rem;
        margin-right: 2rem;
    }

    .content {
        flex-grow: 1;
    }
}

.tab{
    background-color: #fff;
    border-radius: 2px;
}

.playersList{

    width: 14rem;
    position: fixed;
    height: calc(100vh - 4rem);

    .addPlayerSection{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .results{
        overflow: scroll;

        width: 14rem;
    }

}

.playersDataList {
    padding: 0px 0px 4rem 0px;
}

.playerStatsSection {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem .5rem;
    margin-bottom: 1rem;

    .spinnerBox {
        padding: 3rem 0px;
        display: flex;
        justify-content: center;
    }

    .player-name {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 1rem;
    }

    .player-stats-box{
        position: relative;
        max-width: 1000px;
        width: 100%;

        &.hidden{
            opacity: 0;
        }

        

        g.chart rect {
            cursor: pointer;
        }
    }
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    color: white;
    font-size: 12px;
    padding: 4px;
    margin-left: 15px;
    transform: translateY(-50%);
    width: max-content;
    max-width: 10rem;
    padding: 4px 6px;
    opacity: 0;
    top: 0px;
    left: 0px;

    
    &.visible {
        opacity: .9;
    }

    span {
        display: block;
        word-break: keep-all;
    }

    .item {
        display: flex;
        align-items: center;
    }

    .tooltip-sq {
        width: 10px;
        height: 10px;
        margin-right: 6px;
    }

    .tooltip-crcl {
        width: 6px;
        height: 6px;
        margin: 2px;
        /* border-radius: 50%; */
        margin-right: 6px;
    }
  }

.searchbox {

    width: auto;
    display: flex;
    flex-direction: column  ;
    align-items: center;
    background: #fff;
    padding: 1.25rem 0.5rem;

    .queryBox{   
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 2px;
        background: #cccccc1f;
        .icon {
            width: 1rem;
            height: 1rem;
            padding: .5rem;
        }
        
        input {
            border: 0px;
            outline: 0px;
            padding: 1rem 0px;
            font-size: 14px;
            background-color: transparent;
            width: 100%;
            font-family: 'Lexend', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
            sans-serif;
        }
    }

    .rolesBox {
        padding: 1.5rem 0px .5rem 0px;
        width: 100%;
        .role-icon{
            cursor: pointer;
        }
    }
}

.searchbox {
    
  }
  

// .header {
//     position: relative;
//     height: 8rem;

//     .header-box{
//         position: absolute;
//         width: 100%;
//         padding: .5rem 0px;

//         .header-content {
//             width: 30rem;
//             max-width: 100%;
//             margin: auto;
//             display: flex;
//             align-items: center;
//             justify-content: center;
//         }
//     }

//     .addPlayerSection{
//         display: flex;
//         flex-direction: column;
//         align-items: center;
    
//         .box {
//             position: relative;
//             width: 20rem;
//             max-width: 100%;
//         }
    
        
//           .results {
//             position: absolute;
//             top: 100%;
//             width: 100%;
//           }
//     }
// }

.players-list {

    position: relative;
    left: 0px;
    width: 100%;
    z-index: 1;

    .result {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding: 1.25rem .5rem;
        margin: 2px 0px;

        &:hover {
            background-color: rgba(gray, .01);
            .addIcon{
                opacity: 1;
            }
        }

        &.selected {
            background-color: rgba(gray, .1);
        }

        &:last-child{
            margin-bottom: 0px;
        }

        p {
            padding: 0rem 5px;
            margin: 0px;
        }

        .addIcon {
            padding-right: 1rem;
            opacity: 0;
        }
        
    }
}

.role-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    margin: 0px 5px;
    background-color: gray;
    color: rgba(#fff, 0.8);
    &.role-A {
        background-color: $att-color;
    }
    &.role-M {
        background-color: $mid-color;
    }
    &.role-D {
        background-color: $def-color;
    }
    &.role-P {
        background-color: $gk-color;
    }
    &.inactive{
        background-color: transparent;
        color: gray;
    }
}

.selected-panel {
    width: 16rem;
    padding: 1rem;

    span.panel-header {
        padding: 1rem 0px;
        display: block;
    }
}